# flyctl launch added from .gitignore
# Target build directory
**/target
!**/**/src/main/**/target
!**/**/src/test/**/target

# System Wrapper
**/.mvn/wrapper/maven-wrapper.jar

# Configuration Secrets
**/.env
**/.env.*
**/application-local.yml
**/application-dev.yml

# Built binaries
**/*.class
**/*.jar
**/*.war

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Ignored default folder with query files
.idea/queries
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
